body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

* {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

div {
  display: flex;
}

#root {
  display: flex;
  width: 100vw;
  max-width: 500px;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.italics {
  font-style: italic;
  color: #999;
  font-weight: bold;
  text-decoration: none;
}